/* ======================================reset-strat========================================= */
html, body {
  background-color: #fff; color: #353535; font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif; font-size: 14px; line-height: 1.5; margin-left: 0;
  position: relative;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong,
  sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption,
  footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0; padding: 0; border: 0; vertical-align: baseline;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  margin-bottom: 0; margin-top: 0;
}

ol, ul {
  margin: 0; padding: 0; list-style: none;
}

img {
  width: 100%; display: block;
}

a {
  color: #777; text-decoration: none;
}

a:link, a:visited {
  text-decoration: none;
}

a:focus, a:hover {
  color: #353535; text-decoration: none;
}

p {
  margin: 0;
}

input, select, textarea, .btn, .form-control, .panel {
  border-radius: 3px;
}
/* ===========================================reset-end========================================== */

/* ======================================#header&&#footer-strat========================================= */
#header {
  -webkit-box-shadow: 0 1px 2px #cbcbcb; box-shadow: 0 1px 2px #cbcbcb;
}

.headerDropdown {
  line-height: 50px; margin-left: 20px;
}

.headerDropdown .dropdownMenu1 {
  border: none; background-color: transparent; outline: 0;
}

.headerDropdown .dropdownMenu1 .caret:hover {
  color: red;
}

.dropdown-menu {
  right: 0;
}

#footer {
  padding: 50px 0; margin-top: 100px; text-align: center; background-color: #ecf1f1; border-top: 1px solid #e5e5e5;
}

#footer a {
  color: #777;
}

#footer a:hover, #footer a:focus {
  color: #666;
}
/* ======================================#header&&#footer-end========================================= */

/* ======================================bootstrapReset-strat========================================= */
.error, .red, a.red {
  color: #dd4b39;
}

.success, .green, a.green {
  color: #39b574;
}

.xxl {
  font-size: 30px; line-height: 45px;
}

.xl {
  font-size: 24px; line-height: 36px
}

.lg {
  font-size: 20px; line-height: 30px
}

.md {
  font-size: 16px; line-height: 24px
}

.sm {
  font-size: 12px; line-height: 18px
}

.xs {
  font-size: 10px; line-height: 15px
}

.lh-lg {
  line-height: 2
}

.lh-md {
  line-height: 1.5
}

.lh-sm {
  line-height: 1.1
}

.col-top, .col-middle, .col-bottom {
  float: none; display: table-cell
}

.col-top {
  vertical-align: top
}

.col-middle {
  vertical-align: middle
}

.col-bottom {
  vertical-align: bottom
}

.col-center {
  float: none; margin-left: auto; margin-right: auto
}

.col-space {
  margin-left: 2px;
}

.col-space-right {
  margin-right: 2px;
}

.col-space-1 {
  margin-left: 4px;
}

.col-space-right-1 {
  margin-right: 4px;
}

.col-space-2 {
  margin-left: 8px;
}

.col-space-right-2 {
  margin-right: 8px;
}

.col-space-3 {
  margin-left: 12px;
}

.col-space-right-3 {
  margin-right: 12px;
}

.col-space-4 {
  margin-left: 16px;
}

.col-space-5 {
  margin-left: 20px;
}

.col-space-6 {
  margin-left: 24px;
}

.row-space {
  margin-bottom: 4px
}

.row-space-top {
  margin-top: 4px
}

.row-space-1 {
  margin-bottom: 8px
}

.row-space-top-1 {
  margin-top: 8px
}

.row-space-2 {
  margin-bottom: 16px
}

.row-space-top-2 {
  margin-top: 16px
}

.row-space-3 {
  margin-bottom: 24px
}

.row-space-top-3 {
  margin-top: 24px
}

.row-space-4 {
  margin-bottom: 32px
}

.row-space-top-4 {
  margin-top: 32px
}

.row-space-5 {
  margin-bottom: 40px
}

.row-space-top-5 {
  margin-top: 40px
}

.row-space-6 {
  margin-bottom: 48px
}

.row-space-top-6 {
  margin-top: 48px
}

.row-space-7 {
  margin-bottom: 56px
}

.row-space-top-7 {
  margin-top: 56px
}

.row-space-8 {
  margin-bottom: 64px
}

.row-space-top-8 {
  margin-top: 64px
}

.row-space-top-10 {
  margin-top: 80px
}

.row-space-10 {
  margin-bottom: 80px
}

.row-space-top-12 {
  margin-top: 96px
}

.row-space-12 {
  margin-bottom: 96px
}

.rainbow {
  display: block; width: 100%;
}

.rainbow-item {
  float: left; height: 2px; width: 25%;
}

.rainbow-1 {
  background-color: #afecc3;
}

.rainbow-2 {
  background-color: #84c3c0;
}

.rainbow-3 {
  background-color: #d45a68;
}

.rainbow-4 {
  background-color: #ecbf63;
}
/* ======================================bootstrapReset-end========================================= */

/* ======================================contentCommon-strat========================================= */
.section {
  position: relative;
}

.section-header {
  
}

.section-cover {
  overflow: hidden; font-weight: bold;
}

.section-cover img {
  float: left;
}

.section-contents {
  padding: 20px 12px 12px; min-height: 180px; max-height: 200px; padding-bottom: 30px;
}

.section-right {
  padding-bottom: 40px;
}

.section-title, .section-title a {
  color: #333; font-weight: bold; overflow: hidden; min-height: 2.4em; max-height: 2.4em; line-height: 1.2; font-size: 16px; margin-bottom: 10px;
}

.section-caption, .section-caption a {
  color: #777; max-height: 1.5em; margin-top: 5px;
}

.section-content, .section-content a, .section-content a:hover, .section-content a:visited {
  color: #666;
}

.section-content {
  font-size: 15px; color: #4a4d56; overflow: hidden; min-height: 4.5em; max-height: 4.5em;
}

.section-left {
  
}

.section-right {
  
}

.section-footer {
  padding: 0 10px; width: 100%; position: absolute; bottom: 14px; left: 0;
}

.section-subscript {
  
}

.section-price {
  color: #333; font-size: 14px;
}
/* ======================================contentCommon-end========================================= */

/* ======================================coursedetails-strat========================================= */
.contact_form input {
  
}

/* .course-price {
  color: #333; font-size: 18px;
} */
.course-navbar {
  background: #fff;
}

.course-nav {
  height: 50px; line-height: 50px; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; display: block; background: #fff; opacity: 1;
}

.course-nav>li {
  display: inline-block; margin-right: 20px;
}

.course-nav>li>a {
  color: #666; font-size: 16px;
}

.course-nav>li>a:hover, .course-nav>li>a:focus {
  color: #333; background-color: #fff; text-decoration: none;
}

.course-details {
  background: #fff; padding-bottom: 50px;
}

.control-txt {
  margin-top: 0; margin-bottom: 0; padding-top: 7px; text-align: left;
}

.alert {
  padding: 8px; margin: 1px auto 10px; border-radius: 0;
}

.alert-white {
  background-color: #fff; border-color: #eee;
}

.alert-gray {
  background-color: #ccc; border-color: #ccc;
}
/* ======================================courseList-end========================================= */

/* ======================================courseCreate&&edit-start========================================= */
#titleContainer, #contentContainer, #teachingTypeContainer, #descriptionContainer, charge {
  position: relative;
}

#titleNum, #contentNum, #teachingTypeNum, #descriptionNum {
  position: absolute; bottom: 1px; right: 25px; z-index: 10; height: 18px; margin: 0; text-align: right; background: rgba(255, 255, 255, 1); font-size: 14px; line-height: 18px; color: #999999;
}

.rmb {
  position: absolute; top: 10px; right: 25px; font-size: 14px; height: 18px; line-height: 18px; z-index: 10;
}
/* ======================================courseCreate&&edit-end========================================= */

/* ======================================subnav-start========================================= */
.subnav {
  position: relative; background-color: #4ca99f; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
}

.subnav-list {
  padding-left: 0;
}

.subnav-item, a.subnav-item {
  position: relative; float: left; padding: 10px 14px; color: #edf1f3;
}

.subnav-item:hover, .subnav-item:focus, .subnav-item[aria-selected="true"] {
  color: #fff; text-decoration: none;
}

.subnav-item[aria-selected="true"]:before {
  position: absolute; content: ''; bottom: 0; left: 14px; right: 14px; height: 4px; background: #cacccd;
}

.sidenav {
  -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
}

.sidenav:before, .sidenav:after {
  content: ""; display: table;
}

.sidenav:after {
  clear: both
}

.sidenav-text, .sidenav-item {
  display: block; padding: 6px 0; font-size: 16px; color: #82888a;
}

.sidenav-item {
  display: block; padding: 6px 0; font-size: 16px; color: #82888a;
}

.sidenav-item:hover, .sidenav-item:focus {
  text-decoration: none; color: #cacccd
}

.sidenav-item[aria-selected="true"] {
  text-decoration: none; color: #353535; font-weight: bold;
}

.glyphicon {
  
}

.glyphicon-ok-circle {
  color: #3fb34f;
}

.glyphicon-remove-circle {
  color: #d03747;
}

.glyphicon-lg {
  margin: 0 15px 0 0; font-size: 27px; line-height: inherit;
}
/* ======================================subnav-end========================================= */
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
  margin: 2px 0 0 -18px;
}

.file-input-container {
  position: relative; overflow: hidden;
}

.file-input-container input[type=file] {
  cursor: pointer; position: absolute; font-size: 200px; top: 0; bottom: 0; right: 0; opacity: 0; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

/* ======================================index.jsp-start========================================= */
.index-bgcolor {
  background-color: #FAFBFC;
}

.marketing-banner {
  background-position: center center; background-repeat: no-repeat; background-size: cover; color: #fff; text-align: center; height: 420px;
}

.marketing-course {
  padding: 50px 0 80px 0;
}

.navbar-header, .hero-header {
  position: absolute; width: 100%; z-index: 4; border-color: transparent; padding: 0;
}

.hero-header, .hero-header a {
  color: #fff;
}

.hero-header, .hero-header a:hover {
  color: #fff;
}

.navbar-brand, .hero-brand {
  color: #39b574; float: left; height: 50px; line-height: 50px; padding: 0;
}

.navbar-brand:hover, .navbar-brand:focus {
  color: #57ca8e;
}

.nav>li>a {
  padding: 6px 12px; margin-top: 9px;
}

.hero-header .nav>li>a {
  color: #fff;
}

.navbar-header .nav>li>a:hover, .hero-header .nav>li>a:hover {
  background-color: transparent;
}

.navbar-header .nav>li>#publishTop:hover, .hero-header .nav>li>#publishTop:hover {
  background-color: #449d44;
}

.navbar-header .nav>li>a.btn:hover, .hero-header .nav>li>a.btn:hover {
  
}

.hero-top, .hero-bottom {
  overflow: hidden; position: relative;
}

.hero-top .hero-placeholder, .hero-top .hero-overlay, .hero-bottom .hero-overlay {
  position: absolute; top: 0; right: 0; left: 0; bottom: 0;
}

.hero-top {
  background-image: url(http://yikeyun.b0.upaiyun.com/static/d1.jpg);
}

.hero-bottom {
  background-image: url(http://yikeyun.b0.upaiyun.com/static/d2.jpg);
}

.hero-top .hero-placeholder {
  z-index: 0; margin-top: -160px;
}

.hero-top .hero-overlay, .hero-bottom .hero-overlay {
  background-color: rgba(0, 0, 0, 0.3); z-index: 2;
}

.hero-top .intro-area, .hero-bottom .intro-area {
  z-index: 3;
}

.intro-area {
  width: 100%; height: 100%; position: relative; display: table; table-layout: fixed;
}

.intro-area .content {
  max-width: 930px; width: 85%;
}

.footer-links {
  margin-top: 20px; padding-left: 0;
}

.footer-links li:first-child {
  padding-left: 0;
}

.footer-links li {
  display: inline; padding: 0 2px;
}

.index-panel {
  margin-bottom: 20px;
}

.index-panel-body {
  /* box-shadow:0 3px 6px rgba(0,0,0,.4);  */
  box-shadow: rgba(50, 50, 50, 0.2) 0 1px 4px 0; overflow: hidden; background-color: #fff;
}

.index-panel-body:hover {
  box-shadow: 0 3px 5px rgba(0, 0, 0, .4); overflow: hidden; background-color: #fff;
}

.index-cover {
  margin: 20px 12px 12px;
}

#aboutUs {
  text-align: center; background-color: #fff; min-height: 516px;
}

#aboutUs h1 {
  padding-top: 60px; font-size: 24px; font-weight: 600; text-transform: uppercase; color: #b7c2c9; margin: 0 0 35px 0; letter-spacing: 1px; line-height: 16px; text-align: left;
}

#aboutUs .about p {
  font-weight: 300; font-size: 18px; line-height: 28px; color: #16364f; line-height: 1.6; text-align: left; margin: 0 0 20px 0;
}

#aboutUs .contact p {
  font-weight: 300; font-size: 18px; line-height: 38px; color: #16364f; line-height: 1.2; margin: 0; letter-spacing: .5px; text-align: left;
}

#contact_form {
  margin-top: 25px;
}

#contact_form .form-group {
  position: relative;
}

#contact_form .control-label-show {
  position: absolute; top: -12px; left: 0; display: none; color: rgba(195, 204, 210, 1);
}

#contact_form input[type=text], #contact_form textarea {
  outline: none; border: none; border-bottom: 1px solid #DBE1EC; margin: 0; padding: 12px 0; display: block; box-sizing: border-box; width: 100%; max-width: 100%; min-width: 100%; resize: none;
  color: #16364f;
}

.signcontainer {
  min-height: 365px;
}
/* ======================================index.jsp-start========================================= */
.icon-center {
  text-align: center;
}

.icon-lg {
  font-size: 40px;
}

.icon-error, .icon-danger {
  color: #d03747;
}

/* ====================================template.jsp-start========================================= */
.template-navList li div a span {
  margin-left: 5px;
}

.template-navList li div a span:nth-child(1) {
  top: 2px;
}
/* ====================================template.jsp-end========================================= */
.cards {
  margin: 0 -10px 20px; overflow: hidden;
}

.card-list {
  padding-left: 0; list-style: none;
}

.cards li {
  float: left; width: 50%; height: 120px; padding: 10px 0; font-size: 10px; text-align: center; background-color: #efefef; border: 1px solid #fff;
}

.cards li:hover, .cards li:hover a {
  color: #fff; background-color: #39b574;
}

.cards .card {
  position: relative; text-align: center;
}

.cards .card-title {
  margin-top: 5px; margin-bottom: 10px; font-size: 16px;
}

.cards .card-caption {
  display: block; text-align: center; word-wrap: break-word; /* Help out IE10+ with class names */
}

.cards .card-footer {
  position: absolute; bottom: 0px; width: 100%;
}

@media ( min-width : 768px) {
  .cards {
    margin-right: 0; margin-left: 0;
  }
  .cards li {
    width: 25%; font-size: 12px;
  }
}

@media ( min-width : 992px) {
  .cards {
    margin-right: 0; margin-left: 0;
  }
  .cards li {
    width: 12.5%; font-size: 12px;
  }
}

.card-cover {
  text-align: center;
}

.card-cover img {
  height: 75px; width: auto; margin: 0 auto;
}

.card-title {
  text-align: center;
}

.card-attribute {
  text-align: center; width: 104px; margin: 0 auto;
}

.card-attribute dl {
  float: left; display: inline-block; text-align: center; width: 40px;
}

.card-attribute dl dt {
  color: #999;
}

.card-attribute dl dd {
  font-size: 16px;
}

.skill-section {
  
}

.skill-section .card {
  border-radius: 3px;
}

.skill-section .header {
  background-color: #39b574; height: 150px;
}

.skill-section .body {
  
}

.skill-section .title {
  display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: c; justify-content: center; enter;
  -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; padding: 10px 10px 0; height: 100px; overflow: hidden; white-space: pre-wrap;
  text-overflow: ellipsis; -webkit-line-clamp: 4; -webkit-box-orient: vertical;
}

.skill-section .title, .skill-section .title a, .skill-section .title a:hover {
  color: #fff;
}